<section class="apx-menu-list">
    <ul class="list-inline">
        <li class="">
            <a id="fileMenu" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                File
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" aria-labelledby="fileMenu">
                <li><a href=""><span class="glyphicon glyphicon-file"></span>New Project</a></li>
                <li role="separator" class="divider"></li>
                <li><a href=""><span class="glyphicon glyphicon-duplicate"></span>Save new copy...</a></li>
                <li><a href=""><span class="glyphicon glyphicon-share"></span>Share...</a></li>
            </ul>
        </li>

        <li class="">
            <a id="editMenu" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Edit
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" aria-labelledby="editMenu">
                <li><a href=""><span class="glyphicon glyphicon-scissors"></span>Cut</a></li>
                <li><a href=""><span class="glyphicon glyphicon-copy"></span>Copy</a></li>
                <li><a href=""><span class="glyphicon glyphicon-paste"></span>Paste</a></li>
                <li role="separator" class="divider"></li>
                <li><a href=""><span class="glyphicon flipped glyphicon-share-alt"></span>Undo</a></li>
                <li><a href=""><span class="glyphicon glyphicon-share-alt"></span>Redo</a></li>
            </ul>
        </li>




    </ul>
</section>
