<script>
$('#logoutStudio').click(
    function() {
      document.cookie = "apx_session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; domain=.apx.twintailsare.moe; path=/;"; window.location = "/"
    }
);
</script>


<!-- Application Top Toolbar -->

<topbar [project]="project"></topbar>

<main-area [projectContentId]="project?.id"
           *ngIf="projectLoaded"
           (onchange)="onChange($event)"></main-area>

<bottom-bar-area [projectContentId]="project?.id"
                 [pid]="project.id"
                 *ngIf="projectLoaded"></bottom-bar-area>
