.container{
    text-align: left;
    align-content: left;
    padding: 0;
    height:100%;
    width:100%;
    overflow: scroll;
}

.keyboard-container {
    float:left;
    margin:0;
    padding:0;
    height:1500px;
    width:141px;
    padding-bottom: 45px;
}

.keyboard {
    height:100%;
    width:auto;
    webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);
}


.input-container {
    float: right;
    padding-top: 1px;
    padding-bottom: 1px;
    height:1500px;
    width: calc(100% - 141px);
}

.keyboard-playbutton {
    position: absolute;
    top: 0;
    right: 0;
}
.keyboard-stopbutton {
    position: absolute;
    right: 0;
    bottom: 0;
}

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
}

table {
    height:100%;
    width:100%;
}

.gridElement.active {
    background-color: #6f1400;
}




