<div class="container">


<div class="container">
  <div class="jumbotron">
    <h1>Hello, {{user.name}}.</h1>
    <p>Here are your APx Music Settings!</p>
  </div>
</div>

  <table>
  <tr class="user-name-row">
    <td class="">
      User Name:
    </td>
    <td>
      {{user.name}}
    </td>
  </tr>
  <tr>
    <td>
      Email Address:
    </td>
    <td>
      {{user.email}}
    </td>
  </tr>
  <tr class="profile-picture-row">
    <td class="">
      Profile Picture:
    </td>
    <td>
      <img class="avatar-settings" src="{{user.avatar}}">
    </td>
  </tr>
</table>
</div>
